@charset "UTF-8";

//用于PC端的reset
@import "setting";
@import "mixin";
@import "css3";

//reset  包括normalize，清零重置
//Corrects block display not defined in IE6/7/8 & FF3
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary{
    display: block;
}

//Correct inline-block display not defined in IE6/7/8 & FF3
audio,canvas,video{ display:inline-block;}

html,
body,
h1,h2,h3,h4,h5,h6,
div,
dl,dt,dd,
ul,ol,li,
p,blockquote,pre,hr,figure,
table,caption,th,td,
form,fieldset,legend,input,button,textarea,
menu{
    margin:0;
    padding:0;
}

//base
html{
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}

html,button,input,select,textarea{
    font-family: sans-serif;
}

html,body,fieldset,img,iframe,abbr{
    border:0;
}

i,cite,em,var,address,dfn{
    font-style:normal;
}

h1,h2,h3,h4,h5,h6,small{
    font-size:100%;
}

sup,sub{
    font-size: 83%;
}

pre,code,kbd,samp{
    font-family: inherit;
}

q{
    &:before,
    &:after{
        content:none;
    }
}

abbr[title]{
    border-bottom: 1px dotted;
}

b,strong{
    font-weight: bold;
}

li{ 
    list-style: none;
}

img{
    vertical-align: middle;
}


//表格、表单相关
table{
    border-collapse: collapse;;
    border-spacing: 0;
}
caption,th{
    text-align: left;
    font-weight: normal;
}
textarea{
    overflow: auto;
    resize:none;
}
label,summary{
    cursor: default;
}

a{
    text-decoration:none;
    background: transparent;
    &:hover,
    &:active{
        @extend a;
        outline: 0;
    }
}

//基础样式
body,textarea,input,button,select,keygen,legend{
    font: #{$baseFontSize}/#{$baseLineHeight} $baseFontFamily;
    // font-size:$baseFontSize;
    // line-height: $baseLineHeight;
    // font-family: $baseFontFamily;
    color: $black;
}

body{
    background: $bodyBgColor;
}




