@charset "UTF-8";


@import "reset";

.container{
    @include center;
    width: 1000px;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 4px;
    @include box-shadow(0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12));
}

//左侧代码
.aside{
    @include float;
    width: 300px;
    padding: 0 20px;
    background-color:#00bfa5;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
    @include box-sizing;
    
    //左侧标题
    h3.title{
        font-size: 18px;
        line-height: 40px;
        font-weight: normal;
        color: #9f3;
    }   

}

//头像
.header{
    width: 160px;
    height: 160px;
    margin:40px auto 20px;
    background:url(../img/head.jpg) no-repeat center;
    background-size: 180px 180px;
    background-clip: padding-box;
    border: 10px solid rgba(255,255,255,.6);
    border-radius: 50%;
    @include transition(1s);
    //鼠标移动上去

    &:hover{
        @include transform(rotate(360deg));
    }
}

//标题
.headline{
    margin:0 0 30px;
    color: $white;
    text-align: center;
    h1{
        font-size: 26px;
        font-weight: 600;
    }
    h2{
        font-size: 16px;
        line-height: 30px;
        font-weight: normal;
    }
}

//联系方式
.contact{
    color:$white;
    li{
        padding-left: 25px;
        font-size: 14px;
    }
    a{
        color: $white;
        text-decoration: underline;
        &:hover{
            color:darken($white, 10%)
        }
    }
}


//应聘岗位
.application{
    @extend .contact;
    margin:20px 0;
    p{
        padding-left: 25px;
    }
}
//技能点
.skill{
    li{
        width: 100%;
        overflow: hidden;
         @extend .contact;
    }
    .skill-name{
         line-height: 2;  
    }
    .skill-bar{
        width: 100%;
        height: 20px;
        background-color: #00796b;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        span{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: #fff;
            border-radius:20px 0 0 20px;
        }
    }
}


//描述
.describe{
    margin:90px 0 0;
    padding-bottom: 40px; 
    font-size: 16px;
    line-height: 1.5;
    color: #004d40;
    text-indent: 2em;
    text-align:justify;
    p{
        margin-bottom: 5px;
    }
}



//右侧代码--------------------------------------------------------------------------------
.main{
    @include float;
    width: 700px;
    padding:30px 30px 0;
    background-color: #f0f2f1;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
    @include box-sizing;
    
    //右侧标题
    h3.title{
        font-size: 24px;
        color: #00796b;
        line-height: 30px;
        border-bottom: 1px solid #00796b;
        margin: 0 0 15px -5px;
    }



}

//项目经验
.project{
    padding-bottom: 20px;
    .item{
        margin-bottom: 10px;
        h4{
            font-size: 20px;
            line-height: 1.5;
            a{
                color:#5dc3b0;
                text-decoration: underline;
                &:hover{
                    color:darken(#5dc3b0, 10%)
                }
            }
        }
        p{
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 3px;
            a{
                color:#999;
                &:hover{
                    color:#5dc3b0;
                }
            }
        }
    }
    p.other{
        text-align: center;
    }
}

//工作经历
.work{
    @extend .project;
    .item{
        h4{
            color: #5dc3b0; 
        }
        h5.time{
            font-size: 14px;
            line-height: 1.5;
            color:#3a8c81;
            font-weight: normal;
            span{
                padding-left: 20px;
            }
        }
    }
}

//教育背景
.education{
    @extend .work;
}

//技能详解
.skill-info{
    padding-bottom: 50px;
    .item{
        margin-bottom: 20px;
        h4{
            font-size: 18px;
            color: #004d40;
        }
        dl{

        }
        dt{
            padding-left: 20px;
            font-size: 18px;
            line-height: 30px;
            position: relative;
            &:after{
                content: '';
                position: absolute;
                top: 0;
                bottom:0;
                left: 0;
                margin: auto;
                width: 12px;
                height: 12px;
                background-color: #00796b;
                border-radius: 50%;
            }
        }
        dd{
            padding:0 0 10px 20px;
            position: relative;
            &:last-of-type{
                padding-bottom: 0;
            }
            &:after{
                content: '';
                position: absolute;
                top: -10px;
                left: 5px;
                bottom: -10px;
                width: 2px;
                background-color: #00796b;
            }
        }
    }
}






















